name: Daily Commit

on:
  schedule:
    - cron: "0 10 * * *"   # 6:00 Vilhena (UTC-4)
    - cron: "17 19 * * *"  # 3:17 PM Vilhena (UTC-4)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Make a commit
        run: |
          echo "Atualizado em $(date)" >> log.txt
          git config user.name "viniciussilva240"
          git config user.email "vinicius.costa@estudante.ifro.edu.br"
          git add log.txt
          git commit -m "commit diário automático" || exit 0
          git push
