name: Daily Commit

on:
  schedule:
    - cron: "0 12 * * *" # todo dia ao meio-dia (UTC)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Make a commit
        run: |
          echo "Atualizado em $(date)" >> log.txt
          git config --global user.name "viniciussilva240"
          git config --global user.email "vinicius.costa@estudante.ifro.edu.br"
          git add .
          git commit -m "commit diário automático"
          git push
