name: Daily Commit

on:
  schedule:
    # Hor치rio Vilhena - 6:00 AM (UTC-3)
    - cron: "0 9 * * *"   # 6:00 AM em Vilhena (9:00 AM UTC)
    # Hor치rio Vilhena - 3:17 PM (UTC-3)
    - cron: "17 18 * * *"  # 3:17 PM em Vilhena (6:17 PM UTC)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Make a commit
        run: |
          echo "Atualizado em $(date)" >> log.txt
          git config --global user.name "viniciussilva240"
          git config --global user.email "vinicius.costa@estudante.ifro.edu.br"
          git add .
          git commit -m "commit di치rio autom치tico"
          git push
